.area__edit input {
  border: none;
  outline: none;
  resize: none;
  background-color: #fbfef9;
  font-size: 20px;
  height: 25px;
}

.area__edit {
  display: flex;
  flex-direction: column;
}

.edit__buttons {
  display: flex;
  margin-top: 3px;
}

.save__edit {
  margin-right: 3px;
}

.save__btn,
.cancel__btn {
  margin-right: 5px;
  font-size: 12px;
  padding: 5px;
  background-color: beige;
  border-radius: 5px;
}